.main_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 100px;
}
.content_container{
    width: 50%;
    display: flex;
    grid-gap: 40px;
    flex-direction: column;
}
.top_bar_container{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    grid-gap: 20px;
}
.setting{
    cursor: pointer;
    height: 17px;
}
.setting > svg{
    height: 17px;
}
.setting > svg >path{
    stroke-width: 1px;
    stroke: white;
}

@media (max-width: 850px) {
    .content_container{
        width: 100%;
    }

}