.feed_container_my{
    width: 100%;
}
.post_container{
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    grid-gap: 20px;
}
.loader_container{
    width: 40px;
    height: 40px;
}
.last_elem{
    height: 100px;
    margin-bottom: 10px;
}
.breaker{
    color: white;
}