.selector{
    font-family: var(--inter_font);
    color: var(--font_color);
    cursor: pointer;
    position: relative;
    width: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 7px;
}

.selector > svg{

    height: 9px;
    width: 9px;
    transform: rotate(0deg);
    transition: 0.2s;
}
.active_icon{

}
.active_icon > svg{

    transform: rotate(180deg);

}

.option_wrapper{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-items: flex-start;
    grid-gap: 1px;
}

.option{
    font-family: var(--inter_font);
    color: var(--font_color);
    cursor: pointer;
    width: max-content;

}