.main_container{
    position: absolute;
}

.suggestion_text{
    background-color: var(--button_bg);
    color: var(--font_color);
    font-family: var(--inter_font);
    font-weight: 200;
    padding: 5px 10px 5px 10px;
}
.active{
    background-color: var(--active_button_bg);
}
.suggestion_text:hover{
    background-color: var(--button_hover);
}