.main_container{
    position: relative;
    height: max-content;
    width: 100%;
    max-width: 400px;
}
.text_area{
    resize: none;
    /*height: 100%;*/
    font-family: var(--inter_font);
    font-weight: 200;
    padding: 31px 10px 20px 10px !important;
    overflow: hidden;
    width: 100%;
}
.text_area_container{
    width: 100%;

}
.bottom_bar{
    display: flex;
    width: 100%;
    position: relative;
    bottom: 0%;
    align-items: center;
    justify-content:flex-end;
    grid-gap: 10px;
}
.tag_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button_bg);
    color: var(--font_color);
    font-family: var(--inter_font);
    font-weight: 300;
    padding: 2px 7px 2px 7px;
    border-radius: 20px;
    cursor: pointer;
}
.tag_button:hover{
    background-color: var(--button_hover);
}
.counter{
    color: #808080;
    font-family: var(--inter_font);
    font-size: 13px;
    position: absolute;
    top: 0%;
    left: 50%;
    margin-top: 2px;
    transform: translate(-50%);
}