.main_container{
    background-color: var(--button_bg);
    padding: 10px 15px 10px 15px;
    display: flex;
    transform: translate(-60%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--button_border_radius);
}
.text{
    font-weight: 200;
    font-size: 13px;
    color: var(--font_color);
    font-family: var(--inter_font);

}
.price{

}
.date{

}