.char_container{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1B1B1B;
    border-radius: 20px;
    height: 300px;
    width: 100%;
    margin-top: 100px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}
.char_container > div{
    position: absolute;
    height: 20px;
    right: calc(0% + 10px);
    top: calc(0% + 10px);

}
.y_Axis{

}

.x_Axis{

}