.button{
    color: var(--font_color);
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button_bg);
    width: max-content;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    transition: 0.2s;
    border-radius: var(--button_border_radius);
    font-weight: 200;
    cursor: pointer;
    position: relative;
}
.button:hover{
    background-color: var(--button_hover);
}
.disabled{
    cursor: initial;
    background-color: #353535;
}
.disabled:hover{
    background-color: #353535;
}
.active{
    background-color: #353535;
}
.loader_wrapper{
    transform: translate(0%, -50%);
    top: 50%;
    fill: #fff;
    position: absolute;
    right: calc(0% - 30px);
    height: 20px;
    width: 20px;
}
