.post_container{
    width: 500px;
    padding: 40px 40px 10px 40px;
    background-color: var(--button_bg);
    border-radius: var(--button_border_radius);
}
.post_text{
    font-family: var(--inter_font);
    font-weight: 300;
    color: var(--font_color);
}
.read_more{
    font-family: var(--inter_font);
    font-weight: 300;
    color: deepskyblue;
    cursor: pointer;
}

.buttons_bottom_container{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttons_bottom_right_container{
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
}
.tags_in_text{
    display: inline-block;
    color: #c5d5ff;
    cursor: pointer;
}